{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
<p><a href="{% url 'logout'%}" >Logout</a></p>
{% else %}
<p>Welcome, new user. Please <a href="{% url 'login' %}">log in.</a></p>
{% endif %}